<div class="col card mx-2 my-4">

    <div class="row w-100" style="margin-bottom: 5px;">
        <h5 class="card-header w-100">By ID: <%= applicationEvent.LID %> 
            <span class="float-right"> <%= prettyDate( applicationEvent.time, true ) %> </span>
        </h5>
    </div>

    <div class="row" style="margin-bottom: 5px;">
        <div class="col MyAutoTBMargin">
            NewStatus: 
            <% 
                let btnClass = 'btn-info'
                switch(applicationEvent.newStatus){
                    case 'pending':
                        btnClass = 'btn-warning'
                        break;
                    case 'approved':
                        btnClass = 'btn-primary'
                        break;
                    case 'rejected':
                        btnClass = 'btn-outline-danger'
                        break;
                    case 'terminated':
                        btnClass = 'btn-danger'
                        break;
                    case 'systemTerminated':
                        btnClass = 'btn-danger'
                        break;
                } 
            %>
            <button class="btn <%= btnClass %>"><%= applicationEvent.newStatus.toUpperCase() %></button>

        </div>

    </div>
    <div class="dropdown-divider"></div>
    <div class="row" style="min-height: 10px;padding-bottom: 20px;">
        <div class="col" style="white-space: pre-wrap;"><%= applicationEvent.content %></div>
    </div>
</div>
