<% 
    let desigString = null;
    if(aProfilePreview.specialDesignation != null)
        desigString = aProfilePreview.specialDesignation.designation 
    if(aProfilePreview.specialDesignation != null && aProfilePreview.specialDesignation.designation == 'Dean')
        desigString = desigString + ", " + aProfilePreview.specialDesignation.type_or_dept;
    
    <!-- console.log("aProfilePreview: ", aProfilePreview) -->
%>

<div class="row mx-4 my-3">

    <div class="col-10 card shadow" style="padding-bottom: 15px;">
        <div class="row w-100" style="margin-bottom: 15px;">
            <h5 class="card-header w-100 text-primary" > 
                <%= aProfilePreview.employee.name %> 
                <strong class="d-inline-block float-right alert alert-warning p-1 m-0" style="color: brown; font-size: medium;"> EID: <%= aProfilePreview.employee.EID %> </strong>
            </h5>
        </div>

        <div class="row" style="margin-bottom: 15px;">                

            <% if(desigString != null ){  %>
                <div class="col my-auto"> Designation: <strong><%= desigString %></strong> </div>
            <% } else{ %>
                <div class="col my-auto"> Designation: Faculty </div>
            <% } %>
                
            <div class="col my-auto"> Dept: <%= aProfilePreview.employee.deptName %> </div>
        </div>
        <div class="row">
            <div class="col my-auto">Email: <%= aProfilePreview.email %></div>
            <div class="col my-auto ">Office: <%= aProfilePreview.office %></div>
        </div>
    </div>

    <div class="col-1 btn shadow" style="background-color: orange;">
        <a href="<%= aProfilePreview.employee.EID %>">
            <div class="container d-flex h-100">
                <div class="row justify-content-center align-self-center">

                    <div style=" margin-top: auto; margin-bottom: auto">
                        <img src="/images/next.png" alt="next" style="width: 40px; height: 40px;">
                    </div>

                </div>
            </div>
        </a>
    </div>

</div>