
<nav class="navbar navbar-dark bg-primary MyTopNavBar">
    <a class="navbar-brand" href="/">
        <img src="images/logo.png" alt="log" style="height: 100px; width: 130px; ">
        <span style="font-size: xx-large; font-style: italic; color: var(--secondaryColor);">
            ApplyForLeave
        </span>
    </a>
    <span class="card flex-row flex-wrap" style="height: 130px; padding-right: inherit; min-width: 26%;">
        
        <% if(employee != null) { %>

            <img class="my-auto" src="/images/profile.png" alt="" height="80px" width="95px">

            <div class="card-block p-2">
                <h3 class="mx-auto d-inline"><%= employee.name %></h3>
                <strong class="d-inline alert alert-warning p-1 float-right" style="margin-left: 20px; color: brown;"> EID: <%= employee.EID %> </strong>
                
                <% 
                    let desigString = null;
                    if(specialDesignation != null)
                        desigString = specialDesignation.designation 
                    if(specialDesignation != null && specialDesignation.designation == 'Dean')
                        desigString = desigString + ", " + specialDesignation.type_or_dept;
                %>
                <% if(desigString != null ) %>
                    <p class="card-subtitle" style="margin-top: 5px;"><%= desigString %></p>

                <p class="my-0">
                    <%= employee.deptName %>
                </p> 
                
                <a href="/logout" class="btn-sm btn-danger float-right">Logout</a>
            </div>

        <% } else{ %>      
            <img class="my-auto" src="/images/profile.png" alt="" height="80px" width="95px">
            <a href="/login" class="btn-sm btn-primary my-auto">Login</a>
        <% } %>
        
        <!-- <div class="w-100"></div>
        <div class="card-footer w-100 text-muted">
            FOOTER
        </div> -->
    </span>
</nav>


<nav class="navbar navbar-dark bg-primary MyLeftNavBar">
                        
    <div class="flex-column mx-auto" id="navbarsExampleDefault">

        <ul class="navbar-nav" style="font-size: large;">
            

            <% if(employee != null){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/employee/dashboard">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profiles/<%=employee.EID%>">My Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profiles/all">All Profiles</a>
                </li>
                
                <% if( specialDesignation == null || specialDesignation.designation != 'Director'){ %>
    
                    <li class="nav-item">
                        <a class="nav-link" href="/employee/NewLeaveApplication">New Leave Application</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/employee/MyLeaves">My Leaves</a>
                    </li>
    
                <% } %>
    
                <li class="nav-item">
                    <a class="nav-link" href="/employee/MyLeaveRequests">Leave Requests</a>
                </li>
    
                <% if(  specialDesignation != null && specialDesignation.designation == 'Director'){ %>
    
                    <li class="nav-item">
                        <a class="nav-link" href="/director/AllLeaves">All Leaves</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/director/DesignationChange">Designation Change</a>
                    </li>
                <% } %>
    
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/profiles/all">All Profiles</a>
                </li>
            <% } %>
            
            
        </ul>
        
        

        
    </div>
</nav>

<script>
    $(function(){
    var current = location.pathname;
        $('nav li a').each(function(){
            var $this = $(this);
            // if the current path is like this link, make it active
            if($this.attr('href').indexOf(current) !== -1){
                $this.addClass('active');
            }
        })
    })
</script>